# Ignorar arquivos compilados do Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar variáveis de ambiente e configs sensíveis
.env
*.env
config.json
*.key
*.pem
*.crt
*.egg-info/

# Ignorar configurações de IDEs
.idea/
.vscode/

# Ignorar ambientes virtuais
venv/
.venv/